.labelStyle{
    margin-top: 25px;
    margin-left: 25px;
}

.nameStyle{
    margin-left: 25px;
    width: 750px;
}
.occupationStyle{
    margin-left: 25px;
    width: 750px;
}

.photoStyle{
    margin-left: 25px;
    width: 750px;
    
}
.buttonStyle{
    margin-top: 20px;
    margin-left: 25px;
}   